MovieStore/build
MovieStore/.classpath
MovieStore/.project
MovieStore/derby.log
MovieStore/moviestore
MovieStore/lib

.classpath
.settings
.project
MovieStore/login.properties
MovieStore/WebContent/META-INF/persistence.xml
