MovieStore/build
MovieStore/.classpath
MovieStore/.settings
MovieStore/.project
MovieStore/derby.log
MovieStore/moviestore
MovieStore/lib

.classpath
.settings
.project
MovieStore/login.properties
MovieStore/src/META-INF


